.App {
  text-align: center;
  background-color: #F7F7F2;

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(2,0,36);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: rgb(2,0,36);
  background: linear-gradient(253deg, rgba(2,0,36,1) 0%, rgba(9,121,75,1) 58%, rgba(0,212,255,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F7F7F2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-bottom: 3px solid #246EB9;
  text-shadow: 2px 2px #064139;

}

.list-group-item {
  background-color: #F7F7F2 !important;
}


.navbar h1 {
  font-family: 'Pushster', cursive;
  color: #F7F7F2;
  font-size: xxx-large;
  margin: auto 0;
}

.card {
  border: none !important;
  border-radius: 10%;

}

.card-body {
  padding: 30px;
  border-radius: 10%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

