.App {
  text-align: center;
  background-color: #F7F7F2;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #092327;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F7F7F2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-bottom: 3px solid #246EB9;

}

<<<<<<< HEAD
.list-group-item {
  background-color: #F7F7F2 !important;
}



.card {
  border: none;
  padding: 30px;
  border-radius: 10%;
  box-shadow: 0 2px 8px 0 rgb(99 99 99 / 20%);
}

=======
>>>>>>> c2bf704ddd4e479a30a4ff167533625d3d0830a4
.navbar h1 {
  font-family: 'Pushster', cursive;
  color: #F7F7F2;
  font-size: xxx-large;
  margin: auto 0;
}

.card {
  border: none !important;
  border-radius: 10%;

}

.card-body {
  padding: 30px;
  border-radius: 10%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

