.WelcomeScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(8, 4, 89, 0);
    background-image: linear-gradient(184deg, rgb(26, 7, 86) 0%, rgb(227, 107, 10) 50%, rgba(243, 202, 99, 0) 100%), url("pexels-josh-sorenson-976866.png");
    background-size: cover;
    background-repeat:no-repeat;


}

a {
    color: white;
}

a:hover {
    color: #4285f4;
}

.brand {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
}

h1 {
    font-family: 'Anton',
    Arial, sans-serif;
    color: white;
    font-weight: bold;
}

h4 {
    color: white;
}

.container {
    width: 100vw;
    height: 100Vh;
    display: flex;

    align-items: center;
    justify-content: center;
    color: #857e9b;
}
.shadows {
    position: relative;
    text-shadow: -15px 5px 20px rgba(14, 5, 1, 0.60);
    text-transform: uppercase;
    color: #e1deea;
    letter-spacing: 0.1em;
    font-family: 'Libre Barcode 128 Text', cursive, Arial, sans-serif;
    user-select: none;
    font-size: 200px;
    transition: all 0.25s
    ease-out;

}

.shadows:hover {
    text-shadow: -16px 6px 15px #0f0825;
}

.login-button {
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    border: 4px solid #494949;
    border-radius: 10%;
    display: inline-block;
    transition: all 0.4s ease 0s;
    min-width: 10rem;
    margin: 1rem;
}
.google-btn {
    width: 184px;
    height: 42px;
    margin: 1rem;
    background-color: #4285f4;
    border-radius: 3px;
    box-shadow: 0 3px 4px 0 rgb(9, 2, 30);
}
.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;

}

.google-btn:active {
    background: #1669f2;
}
.google-icon-wrapper {
    margin-top: 1px;
    margin-left: 1px;
    height: 40px;
    border-radius: 3px;
    background-color: #fff;
}
.google-icon {
    margin-top: 11px;
    width: 18px;
    height: 18px;
}

.button_cont {
    color: white;
}

.btn-text {
    float: right;
    color: #fff;
    font-size: 14px;
    border: none;
    letter-spacing: 0.2px;
    font-family: "Roboto";
    background-color: #4285f4;
    width: 80%;
    height: 100%;
    text-align: center;
}
